.columns{
    display:flex;
    justify-content: space-between;
    @include r (1196){
        flex-direction:column;
    }
    &__2{
        width:50%;
        @include r (1196){
            width: 100%;
        }
    }
}