.pd{
    &__130{
        padding-top: rem(130);
        @include r (1196){
            padding-top: rem(55);
        }
    }
    &__60{
        padding-top: rem(60);
        @include r (768){
            padding-top: rem(30);
        }
    }
    &__50{
        padding-top: rem(50);
        @include r (768){
            padding-top: rem(25);
        }
    }
    &__40{
        padding-top: rem(40);
        @include r (768){
            padding-top: rem(20);
        }
    }
    &__30{
        padding-top: rem(30);
        @include r (768){
            padding-top: rem(15);
        }
    }
    &__20{
        padding-top: rem(20);
        @include r (768){
            padding-top: rem(10);
        }
    }
}