.pd{
    &__40{
        padding-top: rem(40);
        @include r (768){
            padding-top: rem(20);
        }
    }
    &__30{
        padding-top: rem(30);
        @include r (768){
            padding-top: rem(15);
        }
    }
    &__20{
        padding-top: rem(20);
        @include r (768){
            padding-top: rem(10);
        }
    }
}