.front-features {
    &__title {
       
    }
}

.features {
    display: grid;
    grid-template-columns: (1fr 1fr 1fr 1fr 1fr 1fr);
    gap: rem(26);
    @include r (1196){
        grid-template-columns: (1fr 1fr);
        gap:rem(31);
    }
    &__item {
        display:flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        text-align: center;

    }
    &__pic {
        width:rem(150);
        @include r (1196){
            width: rem(80);
        }
    }
    &__text{
        font-size: rem(26);
        line-height: rem(29);
        @include r (1196){
            font-size: rem(20);
            line-height: rem(25);
        }
    }
}

// 
// .front-features-decor {
//     width: rem(937);
//     margin-top: rem(50);
//     &__1 {
        
//     }
//     &__1::before{
//         content:" | ";
//         width: 50px;
//         color: #000;

//     }
// }