.header {
    background:transparent;

    &__burger {
        display:none;
        @include r (1196){
            display:block;
        }
    }

    &__contact {}

    &__logo {}

    &__menu {
        display:flex;
        justify-content: space-between;
        gap:rem(20);
        @include r (1196){
            display:none;
        }
    }
    &__link {
        font-size: rem(24);
        line-height: rem(28);
        color: #FFFFFF;
        &--active {}
    }

    &__row {
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    &__contact{
        display: flex;
        flex-direction: column;
        @include r (1196){
            display:none;
        }
    }
    &__operating {}

    &__tel {}
   
}