.front-about {
    &__decor {
        border-top: 2px solid #AF9678;
    }
    &__content {
        margin-top: rem(60);
        @include r (1196){
            margin-top: rem(100);
        }
    }

    &__title {
        text-align: center;
    }
    &__text{
        @include r (1196){
            margin-top: rem(42);
        }
        
    }
    &__link {
        display: none;
        visibility: hidden;
        // text-align: center;
        @include r (1196){
            visibility: visible;
            display: block;
        }
    }
}