.text {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: rem(30);
    line-height: rem(44);
    color: #000;

    @include r (1196){
        font-size: rem(20);
        line-height: rem(32);
    }

    &--white {
        color: #fff;
    }
    &--black {
        color:$black;
    }
}