.materials {
    &__control{
        display: flex;
        justify-content:center;
        margin:auto;
    }
    &__btn {
        cursor: pointer;
        font-size: rem(40);
        line-height: rem(28);
        padding-bottom: rem(25);
        @include r (1196){
            display: none ;
        }
        &--active{
            border-bottom: 1px solid rgb(7, 4, 4);
        }

    }

    &__btns {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include r (1196){
            justify-content:center;
        }

    }
    &__mob-control {
        display:none;
        visibility: hidden;
        @include r (1196){
            visibility: visible;
            display:block;
        }
    }
}

.materials-tab {
    overflow: hidden;
    display:none;
    &--active {
        display: block;
    }
}
