

.decor {
    position: absolute;
    border:1px solid #000;
    width: rem(100);
    @include r (1196){
        display: none;
    }
    &__left {
        top: 50px;
        left: -50px;
        transform: rotate(90deg);
        &--2 {
            top: 0;
        }
    }
    &__catalog-left {
        top: 0;
        left: rem(28);
        &--2{
            top: rem(76);
            left: rem(-50);
            transform: rotate(90deg);
        }
    }


    &__right {
        top: rem(78);
        right:rem(-50);
        transform: rotate(90deg);
        &--2 {
            top: 0;
            right:rem(28);
        }
    }
    &__catalog-right {
        top: 0;
        right: rem(28);
        &--2{
            top: rem(76);
            right: rem(-50);
            transform: rotate(90deg);
        }
    }


    &__botleft {
        bottom:rem(78);
        left:rem(-50);
        transform: rotate(90deg);
        &--2 {
            left: rem(28);
            bottom:0;
        }
    }
    &__catalog-bottom-left {
        bottom: rem(0);
        left: rem(28);
        &--2{
            bottom: rem(76);
            left: rem(-50);
            transform: rotate(90deg);
        }
    }

    &__botright {
        bottom: 50px;
        right:-50px;
        transform: rotate(90deg);
        &--2 {
            right: 0;
            bottom:0;
        }
    }

    &__catalog-bottom-right {
        bottom: rem(0);
        right: rem(28);
        &--2{
            bottom: rem(76);
            right: rem(-50);
            transform: rotate(90deg);
        }
    }
}