.catalog {
    &__row {
        display: grid;
        grid-template-columns: (1fr 1fr 1fr);
        gap: rem(55);
        justify-items: center;
        @include r (1196) {
            grid-template-columns: (1fr 1fr);
            gap: rem(30);
        }
        @include r (768) {
            grid-template-columns: (1fr);
        }
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(608);
        max-width: rem(360);
        padding-top: rem(28);
        padding-bottom: rem(28);

        @include r (1196) {
            max-width: 100%;
            padding: 0;
        }
    }

    &__item:nth-child(1) {
        padding-left: rem(28);

        @include r (1196) {
            padding-left: rem(0);
        }
    }

    &__item:nth-child(2) {
        padding-left: rem(28);
        padding-right: rem(28);

        @include r (1196) {
            padding-left: rem(0);
            padding-right: rem(0);
        }
    }

    &__item:nth-child(3) {
        padding-right: rem(28);

        @include r (1196) {
            padding-right: rem(0);
        }
    }

    &__tags{
        display: flex;
        justify-content: center;
        text-align: center;
    }


    &__tag {
        position: absolute;
        font-size: rem(33);
        line-height: rem(28);
        top:50%;
    }

    &__pic {
        width: rem(332);
        max-width: rem(332);
        height: 100%;

        &--closet {
            background-image: url(../../../img/svg/catalog-1.svg);
        }

        &--wardrobe {
            background-image: url(../../../img/svg/catalog-2.svg);
        }

        &--kitchen {
            background-image: url(../../../img/svg/catalog-3.svg);
        }
    }
}

.catalog {
    &__bg {
        position: absolute;
        background: rgba(147, 122, 96, 0.75);
        top: rem(28);
        bottom: rem(28);
        right: rem(28);
        left: rem(28);
        @include r (1196){
            top: rem(0);
            bottom: rem(0);
            right: rem(0);
            left: rem(0);
        }

        &--closet {
            right: rem(0);
        }

        &--kitchen {
            left: rem(0);
        }
    }
    &__bg:hover{
        opacity: 0;
        transition: 0.6s;
    }
}