<!DOCTYPE html>
<html lang="ru">
@@include("../blocks/modules/head/head.html")

<body>
        <div class=" front-main front-main__bg">
            
            <!-- @@include("../blocks/modules/header/header.html")    -->
            
            <!-- @@include("../blocks/modules/front-main/front-main.html")    -->
        </div>        
        <!-- @@include("../blocks/modules/front-price/front-price.html") 
        @@include("../blocks/modules/front-about/front-about.html")
        @@include("../blocks/modules/front-features/front-features.html")
        @@include("../blocks/modules/calatog/calatog.html") 
        @@include("../blocks/modules/front-materials/front-materials.html")
        @@include("../blocks/modules/special-offers/special-offers.html")
        @@include("../blocks/modules/front-stock/front-stock.html")
        @@include("../blocks/modules/front-reviews/front-reviews.html")
        @@include("../blocks/modules/front-production/front-production.html")
        @@include("../blocks/modules/front-work/front-work.html")
        @@include("../blocks/modules/front-price-2/front-price-2.html")-->
        @@include("../blocks/modules/front-contact/front-contact.html")
        @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>

</html>