.mySwiper{
    position: relative;
    overflow: hidden;
    padding-left: rem(20);
    padding-right: rem(20);
}
.next{
    position:absolute;
    right:0;
    top:50%;
    z-index: 100;
}
.prev{
    position:absolute;
    left:0;
    top:50%;
    z-index: 100;
}
.22{
    width:calc(100% / 12 * 10);
}

