.rewiews-Swiper{
    position: relative;
    overflow: hidden;
}
// Кнопки управления
.rewiews-next{
    cursor: pointer;
    position:absolute;
    right:0;
    top:50%;
    z-index: 100;
    fill:#937A60;
    @include r (1196){
        display: none;
    }
}
.rewiews-prev{
    cursor: pointer;
    position:absolute;
    left:0;
    top:50%;
    z-index: 100;
    @include r (1196){
        display: none;
    }
   
}

.rewiews-slide{
    padding-left: rem(90);
    padding-right: rem(90);
    @include r (1196){
        padding-left: rem(30);
        padding-right: rem(30);
    }
}

.rewiews-pagination {
    margin-top: rem(28);
    display: flex;
    justify-content:center;
    &__pagination {
        display:flex;
        gap: rem(18);
        justify-content: space-between;
        @include r (1196){
            gap: rem(7);
        }
    }

}



.bullets{
    cursor: pointer;
    width: rem(26);
    height: rem(26);
    display: inline-block;
    border-radius: 100%;
    background:transparent;
    border: 1px solid #937A60;
    @include r (1196){
        width: rem(16);
        height: rem(16);
    }
    &--active{
        background:#937A60;
    }
}

