.production-bg {
    width: 100%;
    background-image: url('https://via.placeholder.com/150C/O https://placeholder.com/');
    min-height: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;

}