.production-bg {
    width: 100%;
    background-image: url('../../../img/svg/production-bg__1.svg');
    min-height: rem(604);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
}