.title{
    font-family: 'Cormorant';
    &__h2{
        font-weight: 400;
        font-size: rem(68);
        line-height: rem(71);
        color: #11100E;
        @include r (1196){
            font-size: rem(39);
            line-height: rem(42);
        }
    }
    &__h3{
        font-weight: 400;
        font-size: rem(68);
        line-height: rem(28);
        @include r (1196){
            font-size:rem(39);
            line-height: rem(28);
        }
    }
    &__h4{
        font-weight: 400;
        font-size: rem(60);
        line-height: rem(28);
        @include r (1196){
            font-size: rem(39);
            line-height: rem(40);
        }
    }
    &--gold{
        color:$gold;
    }
    &--white{
        color:#fff;
    }
    &--center{
        text-align: center;
    }


}