.social {
    display: flex;
    flex-direction: column;
    &__item {}

    &__row {
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
    }
    &__item::before{
        content:"";
        border: 2px solid #fff;
        width:rem(450);
        transform: rotate(90deg);


    }
}