.social {
    padding-top: rem(15);
    padding-bottom: rem(44);
    @include r (1196){
        display:flex;
        justify-content:space-between;
        padding-top: rem(63);
        padding-bottom: rem(56);
        
    }
    &__item {
        &--border {
            @include r (1196){
                display:none;
        }
    }
        &--contact {
            display: none;
            @include r (1196){
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap:rem(17);
        align-items: center;
        @include r (1196){
            flex-direction: row;
            justify-content: space-between;
            gap:rem(15);
        }
    }
}
.svg-social{
    fill:#fff;
    &--gold{
        fill: $gold;
    }
}
.svg-viber:hover{
    fill:#7360f2;
}
.svg-telegram:hover{
    fill: #28a9ea;
}
.svg-whatsapp:hover{
    fill: #00e676;
}

