.social {
    &__item {}

    &__row {
        display: flex;
        flex-direction: column;
        gap:rem(17);
    }
}
.border{
    border :2px solid #fff;
    width :500px;
    transform: rotate(90deg);
}