.front-price {
    &__content {}

    &__column{
        display: flex;
        justify-content:center;
    }

    &__img {
        position: relative;
        visibility: visible;
        max-height: rem(600);
        padding:rem(28);
        @include r (1196) {
            display: none;
            visibility: hidden;
        }
    }
    &__pic {
        width: rem(364);
    }

    &__text {
        margin-top: rem(26);

        @include r (1196) {
            margin-top: rem(40);
        }
    }
    &__btn {
        max-width:rem(270);
        margin-top: rem(34);
        padding-top: rem(14);
        padding-bottom: rem(14);

        @include r (1196) {
            margin-top: rem(30);
        }
    }


}
