h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: rem(30);
    line-height: rem(44);
    color: #000;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}
img:hover{
    opacity:0.9;
}

p{
    margin:rem(0);
    font-size: rem(30);
    line-height: rem(40);
    @include r (1196){
        font-size: rem(19);
        line-height: rem(29);
    }
}

.front-main {
    &__bg {
        width: 100%;
        background:url(../../../img/bg-main.svg);
        // background: url('https://via.placeholder.com/1920x600?text=тут изображение главное.');
        min-height: 100%;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__mbg {
        @include r (1196){
            background: rgba(53, 53, 53, 0.24);
            backdrop-filter: blur(32px);
            width: 100%;
            margin-top: rem(133);
            padding-top: rem(32);
            padding-bottom: rem(32);
        }
    }
}







